$font__main: 'Helvetica', sans-serif;
$font__code: 'Helvetica', sans-serif;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__title: 'Times New Roman', Times, serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
